.container {
  width: 100%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
}

.container input {
  width: 100%;
  padding: 16px 22px;
  border-radius: 2rem;
  box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
  text-align: right;
}

.container__button {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  margin-top: 20px;
}

.container__button button {
  width: 70px;
  height: 70px;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}

.container__button button:hover {
  cursor: pointer;
  background-color: gray;
}

.orange {
  color: #ff652f;
}
